
<style type="text/css">

    .menu {
         background-color: #455A64; 
         color: #fff;
    }

    .menu-item  {
          margin-right: 10px;
    }

    .menu-item:hover {
        background-color: #263238;
        color: #000;
    }

    .texto { 
        font-size: 14px;
        color: #fff;
    }

</style>

<MudNavMenu Class="menu" >
    <MudNavLink  Icon="@Icons.Filled.HomeFilled" IconColor="Color.Inherit"  Class="menu-item" Href="/index"><span Class="texto">Início</span></MudNavLink>
     <MudNavGroup Title="Tabelas" Icon="@Icons.Filled.ListAlt" IconColor="Color.Inherit"  Expanded="true">
         <MudNavLink  Icon="@Icons.Filled.ListAlt" IconColor="Color.Inherit"  Class="menu-item" Href="/categoria/index"><span Class="texto">Categorias</span></MudNavLink>
         <MudNavLink  Icon="@Icons.Filled.Add" IconColor="Color.Inherit"  Class="menu-item" Href="/categoria/add"><span Class="texto">Adicionar Categoria</span></MudNavLink>
     </MudNavGroup>
    <MudNavLink  Icon="@Icons.Filled.MenuBook" IconColor="Color.Inherit"Class="menu-item" Href="/sobre"><span Class="texto">Sobre</span></MudNavLink>
</MudNavMenu>

@code {
    private MudTheme Theme = new MudTheme();
}